.promotion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 70px;
}

@media (max-width: 600px) {
  .promotion {
    grid-template-columns: 1fr;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: -50px;
}

.image {
  position: relative; /* Required for the next/image component to fill the space */
  height: 350px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.dealBtn {
  width: fit-content;
}

@media (max-width: 900px) {
  .dealBtn {
    width: 100%;
  }
}

.stats {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 100px);
}

@media (max-width: 1200px) {
  .stats {
    grid-template-columns: repeat(2, 1fr);
  }
}

.statBox {
  border-radius: 10px;
  border: 1px solid var(--color-dark-60);
  padding: 16px;
  min-width: 100px;
  width: 100%;
  text-align: center;
}

.statBox h4 {
  font-weight: bold;
}
